:root {
    --opc-10: / 10%; 
    --opc-15: / 15%; 
    --opc-20: / 20%; 
    --opc-30: / 30%; 
    --opc-40: / 40%; 
    --opc-50: / 50%; 
    --opc-60: / 60%; 
    --opc-70: / 70%; 
    --opc-80: / 80%; 
    --opc-90: / 90%; 
    --opc-100: / 100%;
}