li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	display: block;
}

.tituloSecretaria {
	font-size: 18px;
	font-weight: 500;
	color: #707070;
	margin: 0;
}

.gridDetalhesComponente {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .25rem;
	margin-bottom: 1rem;	
}